<app-base></app-base>
<h1 class="dashboard-title">Tableau de Bord</h1>

<div class="main-container">
  <div class="chart-container">
    <div class="chart-header">Utilisateur/Role</div>
    <canvas id="pieChart"></canvas>
  </div>
  <div class="chart-container">
    <div class="chart-header">Livraison/Statut</div>
    <canvas id="barChart"></canvas>
  </div>
  <div class="chart-container">
    <div class="chart-header">Livraison/mois</div>
    <canvas id="lineChart" width="400" height="200"></canvas>
  </div>
</div>
