.custom-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

.custom-header {
  background-color: #007bff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 6px;
  font-size: 12px;
}

.custom-btn {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #ffffff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.custom-btn:hover {
  background-color: #495057;
  border-color: #495057;
}

.custom-button {
  cursor: pointer;
  border: 1px solid #495057;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: transparent;
  font-size: 10px;
  margin-left: 5px;
}

.custom-button:hover {
  background-color: #495057;
  color: #ffffff;
}

.card-body {
  padding: 20px;
}
