<body>
    <div class="sticky-top">
        <div class="container-fluid d-none d-lg-block">
            <div class="row align-items-center py-4 px-xl-5">
                <div class="col-lg-3">
                    <a href="" class="text-decoration-none">
                        <h1 class="m-0"><span class="text-primary">F</span>DELIVERY</h1>
                    </a>
                </div>
      
                <div class="col-lg-3 text-right">
                    <div class="d-inline-flex align-items-center">
                        <i class="fa fa-2x fa-envelope text-primary mr-3"></i>
                        <div class="text-left">
                            <h6 class="font-weight-semi-bold mb-1">Envoyez-nous un email</h6>
                            <small>fdelivery@gmail.com</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right">
                    <div class="d-inline-flex align-items-center">
                        <i class="fa fa-2x fa-phone text-primary mr-3"></i>
                        <div class="text-left">
                            <h6 class="font-weight-semi-bold mb-1">Appelez-nous</h6>
                            <small>23503577</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right">
                    <div class="d-inline-flex align-items-center">
                        <div class="text-left">
                            <a class="btn btn-primary btn-lg font-weight-semi-bold mt-3 mr-3" (click)="navigateTo()" >Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
  
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2500">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="min-height: 300px;">
                    <img class="position-relative w-100" src="../../assets/img/full-shot-man-delivering-box.jpg" alt="Image"  style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Meilleure livraison de tous les temps</h5>
                            <h1 class="display-3 text-white mb-md-4">Offrir des sourires, porte à porte !</h1>
                            <a (click)="navigateToform()" class="btn btn-primary btn-lg font-weight-semi-bold mt-3">S'inscrire</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="../../assets/img/young-happy-manual-worker-carrying-cardboard-boxes-delivery-van-while-communicating-with-his-colleagues.jpg" alt="Image" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Meilleure livraison de tous les temps</h5>
                            <h1 class="display-3 text-white mb-md-4">Offrir des sourires, porte à porte !</h1>
                            <a (click)="navigateToform()" class="btn btn-primary btn-lg font-weight-semi-bold mt-3">S'inscrire</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="../../assets/img/close-up-delivery-person-with-parcel.jpg" alt="Image" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Meilleure livraison de tous les temps</h5>
                            <h1 class="display-3 text-white mb-md-4">Offrir des sourires, porte à porte !</h1>
                            <a (click)="navigateToform()" class="btn btn-primary btn-lg font-weight-semi-bold mt-3">S'inscrire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/livraison_colis.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">À propos de nous</h5>
                        <h1>FDELIVERY</h1>
                    </div>
                    <p> Chez FDelivery, nous redéfinissons la commodité grâce à des services de livraison rapides et fiables. Notre mission est de vous simplifier la vie en garantissant que vos colis arrivent à destination rapidement et en toute sécurité. Avec une plateforme conviviale et une équipe dédiée, nous rationalisons le processus de livraison, garantissant ainsi la tranquillité d'esprit de chaque client. Des cadeaux de dernière minute aux documents importants, FDelevery est votre partenaire de confiance pour tous vos besoins de livraison. Rejoignez-nous aujourd'hui et découvrez la commodité transparente de FDelevery. Votre satisfaction est notre priorité.</p>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/raf,360x360,075,t,fafafa_ca443f4786.jpg" alt="How it works">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Comment ça marche</h5>
                    <h2>Facile comme 1, 2, 3, 4</h2>
                </div>
                <p>Découvrez comment utiliser notre application de livraison en seulement quelques étapes simples. Nous rendons le processus de livraison aussi fluide que possible pour vous.</p>
                <ol class="list-unstyled">
                    <li><strong>Étape 1:</strong> Inscrivez-vous sur notre plateforme.</li>
                    <li><strong>Étape 2:</strong> Choisissez Ajouter colis et entrez les détails de livraison.</li>
                    <li><strong>Étape 3:</strong> Consultez les propositions des livreurs et Choisissez votre livreur.</li>

                    <li><strong>Étape 4:</strong> Suivez votre colis en temps réel et attendez la livraison.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center mb-4">Avis de nos clients</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-body text-center">
                        <p class="mb-4">"Service de livraison exceptionnel! Rapide, fiable et convivial. Je recommande vivement FDELIVERY "</p>
                        <h5 class="font-weight-bold">Moezz</h5>
                        <p class="text-muted">Client satisfait</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-body text-center">
                        <p class="mb-4">"J'utilise FDELIVERY souvent et je n'ai jamais été déçu. Leur service clientèle est excellent et les livraisons sont toujours à temps."</p>
                        
                        <h5 class="font-weight-bold">Amira</h5>
                        <p class="text-muted">Cliente fidèle</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-body text-center">
                        <p class="mb-4">"Une expérience de livraison sans tracas! J'apprécie vraiment la simplicité de leur application et la qualité de leurs services."</p>
                        <h5 class="font-weight-bold">taher</h5>
                        <p class="text-muted">Client satisfait</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   
    <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Contact</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Ariana,Tunis</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>23503577</p>
                        <p><i class="fa fa-envelope mr-2"></i>fdelivery@gmail.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-10 mb-8">
                <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">À propos de nous</h5>
                <p>Nous sommes fiers de fournir des services de livraison rapides et fiables à nos clients. Notre équipe dévouée est là pour répondre à tous vos besoins en matière de livraison. Contactez-nous dès aujourd'hui pour en savoir plus!</p>
                
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#"></a>. Tous droits réservés. Conçu par <a href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Confidentialité</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Termes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Aide</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<script src="js/main.js"></script>

<script>
    $(document).ready(function(){
        $('#header-carousel').owlCarousel({
            items: 1,
            loop: true,
            autoplay: true,
            autoplayHoverPause: true,
            smartSpeed: 1000,
            autoplayTimeout: 5000,
            dots: true,
            nav: false
        });
    });
</script>

</body>
