.main-container {
  margin-left: 300px;
  margin-top: 50px;
  max-width: 100%;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.small-form {
  max-width: 600px;
  margin: 0 auto;
  margin-left: 850px; /* Adjust as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.small-form button {
  width: 100%;
}
.col-lg-5{
  margin-top: 50px;
}