<div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center py-4 px-xl-5">
      <div class="col-lg-3">
        <a href="#" class="text-decoration-none" (click)="navigateToHome()">
          <h1 class="m-0"><span class="text-primary">F</span>DELIVERY</h1>
        </a>
      </div>
      <div class="col-lg-3 text-right">
        <div class="d-inline-flex align-items-center">
          <div class="text-left">
            <h6 class="font-weight-semi-bold mb-1"></h6>
            <small></small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-right">
        <div class="d-inline-flex align-items-center">
          <i class="fa fa-2x fa-envelope text-primary mr-3"></i>
          <div class="text-left">
            <h6 class="font-weight-semi-bold mb-1">Envoyez-nous un email</h6>
            <small>fdelivery@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-right">
        <div class="d-inline-flex align-items-center">
          <i class="fa fa-2x fa-phone text-primary mr-3"></i>
          <div class="text-left">
            <h6 class="font-weight-semi-bold mb-1">Appelez-nous</h6>
            <small>23503577</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#header-carousel" data-slide-to="1"></li>
        <li data-target="#header-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-item active" style="min-height: 300px;">
        <img class="position-relative w-100" src="../../assets/img/young-happy-manual-worker-carrying-cardboard-boxes-delivery-van-while-communicating-with-his-colleagues.jpg" alt="Image" style="min-height: 300px; object-fit: cover;">
        <div class="carousel-caption d-flex align-items-center justify-content-center">
          <div class="col-lg-5" style="margin-left: 40px; margin-top: 50px;">
            <div class="card border-0">
              <div class="card-header bg-light text-center p-4">
                <h1 class="m-0">S'inscrire maintenant</h1>
              </div>
              <div class="card-body rounded-bottom bg-primary p-5">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="username" class="input-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" placeholder="ex. johndoe123" id="username" formControlName="username">
                    <div *ngIf="userForm.get('username')?.errors?.['required'] && userForm.get('username')?.touched" class="error-message">Nom d'utilisateur est obligatoire</div>
                  </div>
                  <div class="form-group">
                    <label for="firstname" class="input-label">Prénom</label>
                    <input type="text" class="form-control" placeholder="ex. John" id="firstname" formControlName="firstname">
                    <div *ngIf="userForm.get('firstname')?.errors?.['required'] && userForm.get('firstname')?.touched" class="error-message">Prénom est obligatoire</div>
                  </div>
                  <div class="form-group">
                    <label for="lastname" class="input-label">Nom</label>
                    <input type="text" class="form-control" placeholder="ex. Doe" id="lastname" formControlName="lastname">
                    <div *ngIf="userForm.get('lastname')?.errors?.['required'] && userForm.get('lastname')?.touched" class="error-message">Nom est obligatoire</div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="input-label">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="Votre mot de passe" id="password" formControlName="password">
                    <div *ngIf="userForm.get('password')?.errors?.['required'] && userForm.get('password')?.touched" class="error-message">Mot de passe est obligatoire</div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="input-label">Email</label>
                    <input type="email" class="form-control" placeholder="ex. johndoe@example.com" id="email" formControlName="email">
                    <div *ngIf="userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched" class="error-message">Email est obligatoire</div>
                    <div *ngIf="userForm.get('email')?.errors?.['email'] && userForm.get('email')?.touched" class="error-message">Email invalide</div>
                  </div>
                  <div class="form-group">
                    <label for="phone" class="input-label">Téléphone</label>
                    <input type="tel" class="form-control" placeholder="ex. 23503578" id="phone" formControlName="phone">
                    <div *ngIf="userForm.get('phone')?.errors?.['required'] && userForm.get('phone')?.touched" class="error-message">Téléphone est obligatoire</div>
                    <div *ngIf="userForm.get('phone')?.errors?.['pattern'] && userForm.get('phone')?.touched" class="error-message">Téléphone invalide</div>
                  </div>
                  <div class="form-group">
                    <label for="gouvernorat" class="input-label">Gouvernorat</label>
                    <select class="custom-select" id="gouvernorat" formControlName="gouvernorat">

                        <option value="">Choisir votre gouvernerat</option>
                        <option value="Tunis">Gouvernorat Tunis</option>
                        <option value="Ariana">Gouvernorat Ariana</option>
                        <option value="Benarous">Gouvernorat Ben Arous</option>
                        <option value="Mannouba"> Gouvernorat La Manouba</option>

                    </select>    
                    <div *ngIf="userForm.get('gouvernorat')?.errors?.['required'] && userForm.get('gouvernorat')?.touched" class="error-message">Gouvernorat est obligatoire</div>
                  </div>
                  <div class="form-group">
                    <label for="adresse" class="input-label">Adresse</label>
                    <input type="text" class="form-control" placeholder="ex. Rue de la liberté" id="adresse" formControlName="adresse">
                    <div *ngIf="userForm.get('adresse')?.errors?.['required'] && userForm.get('adresse')?.touched" class="error-message">Adresse est obligatoire</div>
                    <button type="button" class="btn btn-secondary mt-2" (click)="openMap()">Sélectionner sur la carte</button>
                  </div>
                  <div class="form-group">
                    <label for="datebirth" class="input-label">Date de naissance</label>
                    <input type="date" class="form-control" id="datebirth" formControlName="datebirth">
                    <div *ngIf="userForm.get('datebirth')?.errors?.['required'] && userForm.get('datebirth')?.touched" class="error-message">Date de naissance est obligatoire</div>
                  </div>
                  <div class="form-group">
                    <label for="typeUser" class="input-label">Type d'utilisateur</label>
                    
                    <select class="form-control" id="typeUser" formControlName="typeUser">
                        <option value="">Choisir votre type d'utilisateur </option>
                      <option [value]="Profile.Expediteur">Expéditeur</option>
                      <option [value]="Profile.Livreur">Livreur</option>
                    </select>
                    <div *ngIf="userForm.get('typeUser')?.errors?.['required'] && userForm.get('typeUser')?.touched" class="error-message">Type d'utilisateur est obligatoire</div>
                  </div>
  
                  <div *ngIf="isLivreur">
                    <div class="form-group">
                      <label for="cin" class="input-label">CIN</label>
                      <input type="text" class="form-control" placeholder="ex. 12345678" id="cin" formControlName="cin">
                      <div *ngIf="userForm.get('cin')?.errors?.['required'] && userForm.get('cin')?.touched" class="error-message">CIN est obligatoire pour Livreur</div>
                    </div>
                    <div class="form-group">
                      <label for="typeVehicule" class="input-label">Type de véhicule</label>
                      <input type="text" class="form-control" placeholder="ex. Camion" id="typeVehicule" formControlName="type">
                      <div *ngIf="userForm.get('type')?.errors?.['required'] && userForm.get('type')?.touched" class="error-message">Type de véhicule est obligatoire pour Livreur</div>
                    </div>
                    <div class="form-group">
                      <label for="marque" class="input-label">Marque</label>
                      <input type="text" class="form-control" placeholder="ex. Mercedes" id="marque" formControlName="marque">
                      <div *ngIf="userForm.get('marque')?.errors?.['required'] && userForm.get('marque')?.touched" class="error-message">Marque est obligatoire pour Livreur</div>
                    </div>
                    <div class="form-group">
                      <label for="pricePerKm" class="input-label">Prix par Km</label>
                      <input type="number" step="0.01" class="form-control" placeholder="ex. 0.75" id="pricePerKm" formControlName="pricePerKm">
                      <div *ngIf="userForm.get('pricePerKm')?.errors?.['required'] && userForm.get('pricePerKm')?.touched" class="error-message">Prix par Km est obligatoire pour Livreur</div>
                      <div *ngIf="userForm.get('pricePerKm')?.errors?.['min'] && userForm.get('pricePerKm')?.touched" class="error-message">Prix minimum 0.5</div>
                      <div *ngIf="userForm.get('pricePerKm')?.errors?.['max'] && userForm.get('pricePerKm')?.touched" class="error-message">Prix maximum 1.0</div>
                    </div>
                  </div>
  
                  <div class="form-group text-center">
                    <button class="btn btn-dark btn-block border-0 py-3 custom-btn" type="submit">S'inscrire maintenant</button>
                    <button class="btn btn-outline-secondary mt-3" [routerLink]="'/home'">Retour</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  